.shape {
    fill: none;
    stroke: #010202;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.body-shadow {
    opacity: 0.15;
    fill: #010202;
}

.leg-shadow {
    opacity: 0.2;
    fill: #0a0c0c;
}
