.st18 {
    opacity: 0.15;
}

.st20 {
    display: none;
    fill: #e73467;
}
.st21 {
    fill: #ffffdd;
}
.st22 {
    fill: none;
}
.st23 {
    font-family: "bebas";
}
.st24 {
    font-size: 25.189px;
}
