.st18 {
    opacity: 0.15;
}

.bolo {
    font-size: 48px;
    color: red;
    z-index: 100;
}

.st19 {
    background-image: url("https://cdn.axieinfinity.com/game/cards/base/reptile-mouth-08.png");
}
.st20 {
    display: none;
    fill: #e73467;
}
.st21 {
    fill: #ffffdd;
}
.st22 {
    fill: none;
}
.st23 {
    font-family: "BebasNeue-Regular";
}
.st24 {
    font-size: 25.189px;
}
