.shadow {
    opacity: 0.5;
    fill: #020202;
}

.secondary {
    fill: #ffffdd;
}

.title {
    font-size: 21px;
}

.text {
    font-size: 18px;
}

.description {
    font-size: 14px;
}

.cost {
    font-size: 27px;
}
